<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->

      <!--external css file -->
      <link href="{% static 'CSS/cropper.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'CSS/note.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'CSS/date-time-picker.css' %}">
      <script type="text/javascript" src="{% static 'JS/card-footer-btn.js' %}"></script>
      <script type="text/javascript" src="{% static 'JS/date-time-picker.js' %}"></script>
      <script type="text/javascript" src="{% static 'JS/base.js' %}"></script>
      <script type="text/javascript" src="{% static 'JS/grid-list-view.js' %}"></script>
      <script type="text/javascript" src="{% static 'JS/collaborator.js' %}"></script>
      <script type="text/javascript" src="{% static 'JS/label-modal.js' %}"></script>
      <script type="text/javascript" src="{% static 'JS/update-note.js' %}"></script>
      <script type="text/javascript" src="{% static 'JS/crop-profile-pic.js' %}"></script>
      <script type="text/javascript" src="{% static 'JS/tooltip.js' %}"></script>
      <!--<script type="text/javascript" src="{% static 'JS/profile-modal.js' %}"></script>-->
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

  <title>fandooNotes</title>
  </head>
  <body>
<script>


</script>
  <div id="wrapper">
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <!--Navbar -->
                <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="navigationbar">
                    <div class="left-side-navnar" style=   "min-width: 295px;" >
                    <button type="button" class="btn btn-light" id="menu-toggle">
                       <ion-icon name="menu" style="font-size: 28px;"></ion-icon>
                    </button>
                    <a class="navbar-brand" href="#"><img id="fundoo_img" src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" width="40" height="40" class="d-inline-block align-top" alt="" align="left" hspace="35" style="margin-left: 4%; margin-right: 5%;">
                    fundooNotes
                    </a>
                    </div>

                    <div class="input-group" id="searchbox"  >

                         <form class="form-inline">
                          <div class="input-group-btn">
                              <button type="submit" class="btn btn-light" id="search_btn" ><ion-icon name="search"></ion-icon></button>
                          </div>
                            <input class="form-control " id="search-input-box" type="text" placeholder="Search" aria-label="Search">
                          </form>

                        </div>


                    <ul class="navbar-nav ">

                    <li class="nav-item">
                    <div class="input-group-btn">
                              <button type="submit" class="btn btn-light" id="setting_btn" ><ion-icon name="grid"></ion-icon></button>
                      </div>

                    </li>

                     <li class="nav-item">
                      <div class="input-group-btn">
                              <button type="submit" class="btn btn-light" id="grid_list_btn" style="display:none" ><ion-icon name="list"></ion-icon></button>
                      </div>

                    </li>
                    </ul>

                    <div class="navbar-nav ml-auto nav-flex-icons dropdown " >
                        <a class="nav-link " id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <img src= "{{ user.profile.image.url }}" class="rounded-circle " alt="avatar image" height="40">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-55">
                          <a class="dropdown-item" href="{% url 'profile' %}" id="profile-modal" data-toggle="modal" data-target="#modalQuickView"  >Profile</a>
                          <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                        </div>
                      </div>


                      <!--<div class="nav-item dropdown" style=" margin-left: 17%;">-->
                        <!--<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"-->
                          <!--aria-expanded="false">-->
                          <!--<i class="fas fa-user"></i> Profile </a>-->
                        <!--<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">-->
                          <!--<a class="dropdown-item" href="#">My account</a>-->
                          <!--<a class="dropdown-item" href="#">Log out</a>-->
                        <!--</div>-->
                      <!--</div>-->

                  <!--</div>-->
                </nav>

                <!--/.Navbar -->

                <!--sidebar-->
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li>
                            <div class="d-flex flex-row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="gb_Uc" style="margin-left: 13%; margin-top: 4%;">
                                <path d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6A4.997 4.997 0 0 1 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z"></path>
                            </svg>
                            <a href="#" style="margin-left: -3%;width: 46px; padding-left: 11px;"> <span><b>Notes</b></span></a>
                            </div>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="gb_Uc">
                                <path d="M18 17v-6c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v6H4v2h16v-2h-2zm-2 0H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6zm-4 5c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2z"></path>
                            </svg>
                            <a href="#" style="margin-top: -38px;"><span><b>Reminders</b></span></a>
                        </li>
                        <div class="sep">
                             <hr class="seprator"><div class="sepText"></div>
                        </div>


                         <li>
                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="gb_Uc">
                                <path d="M20.41 4.94l-1.35-1.35c-.78-.78-2.05-.78-2.83 0L13.4 6.41 3 16.82V21h4.18l10.46-10.46 2.77-2.77c.79-.78.79-2.05 0-2.83zm-14 14.12L5 19v-1.36l9.82-9.82 1.41 1.41-9.82 9.83z"></path>
                            </svg>
                             <a href="#" data-toggle="modal" data-target="#myModal" style="margin-top: -39px; "><span><b>Edit labels</b></span></a>
                        </li>

                        <div class="sep">
                             <hr class="seprator"><div class="sepText"></div>
                        </div>

                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="gb_Uc">
                                <path d="M20.54 5.23l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM6.24 5h11.52l.83 1H5.42l.82-1zM5 19V8h14v11H5zm11-5.5l-4 4-4-4 1.41-1.41L11 13.67V10h2v3.67l1.59-1.59L16 13.5z"></path>
                            </svg>
                            <a href="#" style="margin-top: -39px;"><span><b>Archive</b></span></a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="gb_Uc">
                                <path d="M15 4V3H9v1H4v2h1v13c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5zm2 15H7V6h10v13z"></path>
                                <path d="M9 8h2v9H9zm4 0h2v9h-2z"></path>
                            </svg>
                            <a href="#" style="margin-top: -36px;"> <span><b>Trash</b></span></a>
                        </li>


                    </ul>
                </div>
                <!--close sidebar-->

                <!--Edit label model-->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                            <div class="modal-content " id="label-modal" style="border-radius: 1px;overflow-y: auto;padding: 0;width: 300px;" >
                                <div class="modal-header">
                                    <label class="modal-title" id="myModalLabel">Edit labels</label>
                                </div>

                                <div class="modal-body">
                                    <div class="d-flex flex-row">
                                      <div class="p1">
                                           <button type="button" id="cancel-btn" class="btn  btn-light" style="font-size: 100%;margin-left: -11px; display:none" >
                                              <span><ion-icon name="close"></ion-icon></span>
                                           </button>
                                      </div>
                                     <div class="p1">
                                           <button type="button" id="add-btn" class="btn  btn-light" style="font-size: 100%;margin-left: -11px;" >
                                              <span><ion-icon name="add"></ion-icon></span>
                                           </button>
                                      </div>
                                      <div class="p"><input id="create-label" class="form-control" type="text" placeholder="Create new label" aria-label="Create new label" maxlength="50" dir="ltr"
                                                            style="border: none; border-bottom: 1px solid transparent;box-shadow: none;font-size: 14px;font-family: 'Roboto',arial,sans-serif;"></div>
                                      <div class="p">
                                           <button type="button" id="checkmark-btn"class="btn  btn-light" style="font-size: 100%;margin-left: -11px;display:none" >
                                              <span><ion-icon name="checkmark"></ion-icon></span>
                                           </button>
                                      </div>
                                    </div>

                                    <div class="d-flex flex-row">
                                      <div class="p1" style="color:#d50000;cursor: default;display: none;font-size: smaller;font-style: italic;padding: 10px;">
                                          Label already exists
                                      </div>
                                    </div>


                                    <div class="d-flex flex-row">
                                      <div class="p1">
                                           <button type="button" id="list-label-btn"class="btn  btn-light" style="font-size: 100%;margin-left: -11px;" >
                                              <span><ion-icon name="send"></ion-icon></span>
                                           </button>
                                      </div>
                                     <div class="p1">
                                           <button type="button" id="delete-btn" class="btn  btn-light" style="font-size: 100%;margin-left: -11px;display:none" >
                                              <span><ion-icon name="trash"></ion-icon></span>
                                           </button>
                                      </div>
                                      <div class="p"><input id="edit-label" class="form-control" type="text" placeholder="Enter label name" aria-label="Create new label" maxlength="50" dir="ltr"
                                                            style="border: none; border-bottom: 1px solid transparent;box-shadow: none;font-size: 14px;font-family: 'Roboto',arial,sans-serif;"></div>
                                      <div class="p">
                                           <button type="button" id="pencil-btn" class="btn  btn-light" style="font-size: 100%;margin-left: -11px;" >
                                              <span><ion-icon name="create"></ion-icon></span>
                                           </button>
                                      </div>
                                      <div class="p">
                                           <button type="button" id="checkmark1-btn"class="btn  btn-light" style="font-size: 100%;margin-left: -11px;display:none" >
                                              <span><ion-icon name="checkmark"></ion-icon></span>
                                           </button>
                                      </div>
                                    </div>

                                </div>

                                <div class="modal-footer" >
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Done</button>
                                </div>
                            </div><!-- modal-content -->
                        </div><!-- modal-dialog -->
                  </div><!-- modal -->
                <!--End of label model-->

                {% load crispy_forms_tags %}
                <!-- profile-modal -->
                        <div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                          aria-hidden="true">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <!--modal header-->
                              <div class="modal-header">

                              </div>

                                <!--modal body-->
                              <div class="modal-body">

                                   <div class="content-section" style="margin-left: -15px;margin-top: -16px;width: 104%;background: #ffffff;padding: 35px 108px;border: none;">
                                    <div class="media">
                                      <img class="rounded-circle account-img" src = "{{ user.profile.image.url }}">
                                      <div class="media-body">
                                        <h2 class="account-heading">{{user.username}}</h2>
                                        <p class="text-secondary">{{user.email}} </p>
                                        </div>
                                    </div>
                                     <form method="POST" enctype="multipart/form-data" id="formUpload">
                                            {% csrf_token %}
                                            <fieldset class="form-group">
                                                <legend class="border-bottom mb-4">Profile Information</legend>
                                                {{ u_form|crispy }}
                                                {{ p_form|crispy }}
                                            </fieldset>
                                            <!-- MODAL TO CROP THE IMAGE -->
                                          <div class="modal fade" id="modalCrop">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                  <h4 class="modal-title">Crop the photo</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="" id="image" style="max-width: 100%;">
                                                </div>
                                                <div class="modal-footer">
                                                  <div class="btn-group pull-left" role="group">
                                                    <button type="button" id="zoom-in" class="btn btn-default js-zoom-in">

                                                      <span class="glyphicon glyphicon-zoom-in"></span>
                                                    </button>

                                                    <button type="button" style="margin-top: -24px;margin-right: 200px;" id="zoom-out"class="btn btn-default js-zoom-out">

                                                      <span class="glyphicon glyphicon-zoom-out"></span>
                                                    </button>
                                                  </div>

                                                  <button type="button"  id="nevermind" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                                                    <br>
                                                  <button type="button" id="crop-upload" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
                                                    <br>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                            <div class="form-group">
                                                <button id="update-btn" class="btn btn-light" type="submit" style="background-color: #dbddde;">Update</button>
                                            </div>
                                     </form>
                                  </div>


                              </div>

                                <!--modal footer-->
                              <div class="modal-footer" >

                              </div>

                            </div>

                          </div>
                        </div>
                <!--close profile modal-->

                <main role="main" id="note-section" class="container-fluid " style="margin-top: 2%;">
                      <div class="row row-center">

                          <div class="col-lg-12 col-centered">
                               {% block content %}

                              {% endblock %}

                          </div>
                          <!--<div class="col-sm-3 col-md-6 col-lg-3">-->


                          <!--</div>-->
                          <!--<div class="col-sm-9 col-md-6 col-lg-9">-->
                             <!---->


                          <!--</div>-->
                      </div>
                </main>
            </div>
          </div>
      </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--date-time-->
    <script src="https://rawgit.com/creativetimofficial/material-kit/master/assets/js/plugins/moment.min.js"></script>
    <script src="https://rawgit.com/creativetimofficial/material-kit/master/assets/js/plugins/bootstrap-datetimepicker.js"></script>
   <script src="{% static 'JS/cropper.min.js' %}"></script>
  </body>
</html>