{% extends "Notes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<script type="text/javascript" src="{% static 'JS/createnote.js' %}"></script>
<script>
$(document).ready(function(){
     $("#close-btn").click(function (e){
             $("#note-box").hide();
             $("#show-note-box").show();
        });
  });
</script>
.
<div class="create-note centered " id="show-note-box" style=" ">
    <div class="card " id="createnote">
      <div class="card-body" id="take-a-note">
          Take a note..
          <span style="float: right;">
              <button type="submit" class="btn btn-light " id="checkbox" ><span><ion-icon name="checkbox"></ion-icon></span></button>
              <button type="submit" class="btn btn-light " id="brush" ><span><ion-icon name="brush"></ion-icon></span></button>
              <button type="submit" class="btn btn-light " id="photos" ><span><ion-icon name="photos"></ion-icon></span></button>
           </span>

      </div>
    </div>

</div>


<div class="create-note " id="note-box" style="display:none">
    <div class="card" id="create-note-box"style="">
      <div class="card-body" id="create-a-note">
           <form>
                <div class="md-form" style="width: 92%;">
                    <input type="text" id="txtbox" class="form-control" placeholder="Title" style="box-shadow: none;" autocomplete="off">
                </div>
               <div>

               </div>
                <div class="md-form">
                    <textarea type="text" id="txtarea"  style="height: 40px;box-shadow: none;border:none "placeholder="Take a note"></textarea>
                </div>

                <div class="card-footer" id="card-footer-btn">
                <button type="submit" class="btn">
                    <span>
                         <ion-icon name="notifications"></ion-icon>
                    </span>
                </button>
                <button type="button"  class="btn" >
                    <span>
                        <ion-icon name="person"></ion-icon>
                    </span>
                </button>
                <button type="button" class="btn">
                    <span>
                       <ion-icon name="color-palette"></ion-icon>
                    </span>
                </button>
                <button type="button"  class="btn">
                    <span>
                        <ion-icon name="images"></ion-icon>
                    </span>
                </button>
                <button  type="button" class="btn">
                    <span>
                        <ion-icon name="archive"></ion-icon>
                    </span>
                </button>
                <button type="button"  class="btn">
                    <span>
                         <ion-icon name="more"></ion-icon>
                    </span>
                </button>
                <button type="sumbit" class="btn btn-light" id="close-btn">Close</button>



                </div>
            </form>
      </div>
    </div>
  </div>
<div class="container-fluid " style="margin-top: 3%;">
    <div class="row">
        <div class="col-md-12  col-centered">

             {% block notesection %}

             {% endblock notesection %}
        </div>
    </div>

</div>


{% endblock content %}