/* demo shizzle only */
/*body {
  background: #eee;
  max-width: 900px;
  margin: 30px auto;

/*   outline: 1px solid #ccc; */
/*}*/

/* Still use global css (not utility css) for base typography etc? */
p {
  margin-bottom: 0.8em;
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;

}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/*#navigationbar{
 -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    height: 71px;

}*/

.content-section {
    background: #ffffff;
    padding: 35px 108px;
    border: 1px solid #101010;
    border-radius: 3px;
    margin-bottom: 80px;
    margin-right: -8px;
    margin-left: 26px;
    margin-top: -49px;

}

#btn {
    border: none;
    width: 95px;
    height: 44px;
    color: #211d1d;
    background-color: white;
    background: #0e7f92;
    font: normal 16px Roboto,sans-serif;
    margin-top: 6px;
}
#btn2{

margin-bottom: -76px;
width: 201px;

}
#Reset-Password-btn{
  border: none;
    width: 201px;
    height: 44px;
    color: #211d1d;
    background-color: white;
    background: #0e7f92;
    font: normal 16px Roboto,sans-serif;
    margin-top: 6px;
}

#update-btn{
 border: none;
    width: 95px;
    height: 44px;
    color: #211d1d;
    background-color: white;
    background: #0e7f92;
    font: normal 16px Roboto,sans-serif;
    margin-top: 6px;
}
#resetbtn
{
    border: none;
    width: 215px;
    height: 44px;
    color: #211d1d;
    background-color: white;
    background: #0e7f92;
    font: normal 16px Roboto,sans-serif;
    margin-top: -68px;
    margin-bottom: -63px;
    margin-right: -12px;
}

#registerbtn{
    border: none;
    width: 95px;
    height: 44px;
    color: #211d1d;
    background-color: white;
    background: #0e7f92;
    font: normal 16px Roboto,sans-serif;
    margin-top: 6px;
}

/*#alert-msg{
    margin-right: -177px;
    margin-left: 236px;
}*/

.lable{
    margin-left: 26px;
    animation: auto;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.sidenav{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}
#sidebar {
    position:fixed;
    width:200px;
    height:100%;
    background:151719;
    left:-200px;
    transition:all 500ms linear;
}
#sidebar.active{
     left:0px;
}
#sidebar ul li {
    color:rgba(230,230,230,0.9);
    list-style:none;
    padding:15px 10px;
    border-bottom:1px solid rgba(100,100,100,0.3)

}

#sidebar .toggle-btn{
    position:absolute;
    left:230px;
    top:20px;

}

#sidebar .toggle-btn span{
    display:block;
    width:30px;
    height:5px;
    background:#151719;
    margin:5px 0px;

}